<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <script src="/javascripts/jquery-1.11.3.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="/javascripts/leaflet.js"></script>
      <link rel='stylesheet' href="/stylesheets/leaflet.css" />
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
